site_name: "Irfan's Notebook"
site_description: "Learning Book - Learn, practice, code, and document programming topics."
site_author: "Irfan"
# Hiding repository info from navbar
# repo_url: https://github.com/irfanhsajid/irfans-notebook
# repo_name: irfans-notebook

# Theme Configuration
theme:
  name: material
  language: en
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: white
      accent: white
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      primary: black
      accent: white
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  features:
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - content.tabs.link
    - navigation.path
    - navigation.indexes
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - navigation.top
    - navigation.sections
    - navigation.footer
    - search.highlight
    - search.share
    - search.suggest
  font:
    text: Roboto
    code: Roboto Mono

# Extensions
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html
  - tables
  - toc:
      permalink: true

# Plugins
plugins:
  - search:
      separator: '[\s\-,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'

# Use directory URLs (prettier URLs)
use_directory_urls: true

# Navigation Structure
nav:
  - Home: index.md
  - Notes:
      - Getting Started:
          - Introduction: getting-started/index.md
      - Frontend Development:
          - Overview: frontend-development/index.md
          - React: frontend-development/react/index.md
          - Next.js: frontend-development/nextjs/index.md
      - Databases:
          - Overview: databases/index.md
          - MongoDB: databases/database/mongodb.md
          - PostgreSQL: databases/database/postgresql.md
          - MySQL: databases/database/mysql.md
          - SQLite: databases/database/sqlite.md
      - DevOps:
          - Docker: devops/docker/index.md

# Extra
extra:
  generator: false
extra_css:
  - assets/css/custom.css

# Copyright
copyright: Copyright &copy; 2025 Irfan
